<section id="news-list" data-limit="{{ pager.getMaxPerpage }}" data-count="{{ pager.count }}">
    <div>
        <div>
            {% if collection %}
                <h1>{{ collection.name }}</h1>
            {% else %}
                <h1>{{ 'news.list.title' |trans }}</h1>
            {% endif %}
        </div>
    </div>

    <div id="news-list-container">
        {% include 'AwaresoftSonataNewsBundle:Post:Helper/posts.html.twig' %}
    </div>

    <div id="news-list-more">
        <a rel="next" class="btn btn-lg btn-primary">
            {{ 'show_more' |trans }}
            <span class="glyphicon glyphicon-menu-down"></span>
        </a>
    </div>
</section>

<script>
    {% if collection %}
    var NEWS_LIST_URL = '{{ path('sonata_news_collection', {'collection': collection.slug}) }}';
    {% else %}
    var NEWS_LIST_URL = '{{ path('sonata_news_home') }}';
    {% endif %}
</script>